.row {
    height: 60px;
}

.bad-email {
    border: 3px solid red;
}

.good-email {
    border: 3px solid green;
}

.btn {
    background-color: rgba(255, 0, 0, 0.542);
    color: black;
    margin-top: 20px;
    text-transform: uppercase;
    vertical-align: bottom;
    border: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    font-weight: 500;
    padding: 0.75rem 1.6875rem 0.6875rem;
    font-size: .875rem;
    line-height: 1.6;
}

::-webkit-scrollbar {
    width: 0px;
  }

.formcontrol {
    height: 3rem;
}